@media (min-width: 992px) and (max-width: 1024px)
{
    .mobile-nav{
        display: none;
    }

}

/* For Tablets*/
@media (min-width: 768px) and (max-width: 991px)
{
    .mobile-nav{
        display: none;
    }

}

/* For Mobile Phones */
@media screen and (max-width: 767px)
{
    #bott-nav{
        display: none;
    }

    .list-wrap{
        display: flex;
        flex-direction: column;
    }
    body{
        position: relative;
    }

    .mobile-nav{
        display: block;
        background-color: white;
    }

    .mobile-links{
        background-color: white;
        position: absolute;
        width: 100%;
        top: 108px;
        left: 0;
        height: 100vh;
        transform: translateX(-100%);
        transition: 0.5s;
        z-index: 1;

    }
    .mobile-nav-expand{
        transform: translateX(0);
        height: 100vh;    
    }

    .mob-nav{
        padding-top: 1rem;
        padding-bottom: 1rem;
        list-style: none;
    }

    .my-btn{
        width: 50%;
        padding-left: 10px;
        padding-right: 0px;
    }

    #home-main{
        background-image: none;
    }

    .main-card{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .hr-style{
        width: 25%;
    }

    .booking-num{
        font-size: 36px;
        padding: 1rem;
        right: 13%;
        top: 74%;
    }

    .caro-pic{
        height: 40px;
    }

    .top-service{
        font-size: 0.9rem;
    }

    .bott-award{
        font-size: 0.9rem;
    }

    .caro-heading{
        font-size: 1rem;
    }
    
    .served-icon{
        top: 303px;
        right: 17px;
    }

    #stat-counter{
        display: none;
    }

    .owl-carousel .owl-item img{
        width: 100% !important;
    }
  

}

/* For Mobile Phones */
@media screen and (max-width: 480px)
{
    
      
}

 /* For Mobile Phones */
@media screen and (max-width: 320px)
{


}